.icon-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ecolog {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-jurist {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-logo-green {
  font-size:(32/10)*1rem;
  width:(30.9/32)*1em;
}
.icon-send {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
